
#splash-screen {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #1287cd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 9999;
}

#splash-screen img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#splash-screen h1 {
    font-size: 24px;
    font-family: Arial, sans-serif;
}
